@model IEnumerable<AdvancedBusinessDev.Models.Parceiro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeParceiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaAtuando)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvaliacaoDesempenho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoParceria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeParceiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaAtuando)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliacaoDesempenho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoParceria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdParceiro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdParceiro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdParceiro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
