@model AdvancedBusinessDev.Models.Interface

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Interface</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeInterface)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeInterface)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estilo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estilo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linguas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linguas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteIdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteIdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IA.IdIa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdInterface" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
