@model IEnumerable<AdvancedBusinessDev.Models.Interface>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeInterface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estilo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linguas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteIdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeInterface)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estilo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linguas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteIdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IA.IdIa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInterface">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInterface">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInterface">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
