@model AdvancedBusinessDev.Models.IA

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IA</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistRecomendacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistRecomendacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnologias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tecnologias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BancoDados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BancoDados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.EmpresaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parceiro.IdParceiro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdIa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
